*:not(dd){
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
/*Aqui empieza la barra de navegacion***************************************/
nav{
    /* border: solid red; */
    background-color: rgb(0, 0, 0, 0.5);
    height: 5vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    /* border: solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    height: 100%;
    margin-left: 2vw;
}

.menu a{
    font-size: 2vh;
    text-decoration: none;
    color: #f70fff;
}

.menu a:hover{
    font-size: 2.2vh;
    color: #12d6df;
}

#here{
    color: #12d6df;
}

.logo{
    /* border: solid yellow; */
    height: 100%;
    margin-right: 2vw;
}

.logo img{
    height: 100%;
}
/*Aqui termina la barra de navegacion******************************************/
/*Aqui comienza el header******************************************************/
header{
    /* border: solid #f70fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 7vh;
    /*background-color: rgb(255, 255, 255, 0.6);*/
}

header >h2{
    /* border: solid #12d6df; */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

header >h3{
    /* border: solid #12d6df; */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
/*Aqui termina el header*******************************************************/
/*Aqui inicia el body de todas las paginas**************************/
main{
    /* border: solid orange; */
    /*background-color: rgb(255, 255, 255, 0.6);*/
    display: flex;
    flex-direction: column;
    min-height: 73vh;
    justify-content: center;
    align-items: center;
}

.imgIndex{
    /* border: solid green; */
    width: 50vw;
}

.divIndex{
    /* border: solid green; */
    display: flex;
    min-height: 20vh;
    width: 80vw;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.divIndex >p{
    /* border: solid yellow; */
    width: 50vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.divIndex >img{
    /* border: solid #12d6df; */
    height: 16vh;
    margin-right: 2vw;
}

.sectionAbout{
    /* border: solid green; */
    display: flex;
    min-height: 20vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sectionAbout >img{
    /* border: solid #12d6df; */
    height: 16vh;
    margin-right: 2vw;
}

.sectionAbout >div{
    /* border: solid yellow; */
    width: 50vw;
}

.sectionAbout h3{
    /* border: solid #f70fff; */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin: 3vh;
}

.sectionAbout p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

table, tr, th, td{
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    height: 10vh;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

th{
    font-size: xx-large;
}

.topic{
    width: 30vw;
    background-color: rgb(247, 15, 255, 0.2);
}

.information{
    width: 9vw;
    background-color: rgb(18, 214, 223, 0.2);
}

caption{
    caption-side: bottom;
    text-align: start;
    margin-top: 1vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.benefitsTips{
    /* border: solid green; */
    display: flex;
    width: 80vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.benefitsTips >div{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.benefitsTips img{
    /* border: solid #12d6df; */
    height: 30vh;
    margin-right: 5vw;
}

ol{
    /* border: solid yellow; */
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ol li{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol >li{
    color: #12d6df;
    font-size: x-large;
}

ul{
    list-style-type: none;
}

ul >li{
    margin-top: 1vh;
    font-size: large;
}

.mainContact >img{
    /* border: solid green; */
    width: 35vw;
}

.mainContact >p{
    /* border: solid green; */
    width: 70vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-top: 1vh;
}

.mainContact >div{
    /* border: solid green; */
    width: 70vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainContact a{
    text-decoration: none;
    color: white;
}

.mainContact a:hover{
    text-decoration: none;
    color: #12d6df;
}
/*Aqui termina el body de todas las paginas********************/
/*Aqui empieza el footer********************************************************/
footer{
    /* border: solid green; */
    height: 15vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.5);

}

.contact{
    /* border: solid powderblue; */
    height: 100%;
    width: 25vw;
}

.way_to_contact{
    /* border: solid darkblue; */
    height: 33%;
    display: flex;
    align-items: center;
}

.way_to_contact img{
    height: 70%;
    margin-left: 2vw;
}

.way_to_contact a{
    text-decoration: none;
    color: white;
    margin-left: 1vw;
    font-size: 1.7vh;
}

.way_to_contact a:hover{
    color: #12d6df;
}

footer >p{
    /* border: solid honeydew; */
    color: white;
    align-self: flex-end;
}

.slogan{
    /* border: solid orange; */
    color: #12d6df;
    margin-right: 4.5vw;
    align-self: center;
    font-size: xx-large;
    width: 25vw;
}
/*Aqui termina el footer*****************************************************/





